# Base de Datos PostgreSQL
DATABASE_URI=postgresql+psycopg://usuario:contraseña@localhost:5432/nombre_bd

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

# JWT
JWT_SECRET_KEY=tu_clave_secreta_aqui

# CORS (si necesitas especificar orígenes permitidos)
CORS_ORIGINS=*

# WebSockets (si es necesario)
SOCKETIO_PING_TIMEOUT=60
SOCKETIO_PING_INTERVAL=25
